h1 {
    margin 0;
}
a {
    text-decoration: underline;
    color: red !important;
}
tr {
    text-align: left;
}
table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
input {
    margin-top: 20px !important;
}